In [1437]:
import os
from dotenv import load_dotenv
import requests
import pandas as pd
import json
from pandas import json_normalize
import re

load_dotenv

token = os.getenv("API_TOKEN")

headers = {
    'Authorization': f'Bearer {token}',
    'Content-Type': 'application.json'
}
response = requests.get('https://api.clashofclans.com/v1/clans/%232GLLPQYLL/currentwar', headers=headers)
response = response.json()

In [1438]:
data = json_normalize(response, record_path=['clan', 'members'])
data

,tag,name,townhallLevel,mapPosition,attacks,opponentAttacks,bestOpponentAttack.attackerTag,bestOpponentAttack.defenderTag,bestOpponentAttack.stars,bestOpponentAttack.destructionPercentage,bestOpponentAttack.order,bestOpponentAttack.duration
0,#UGRL8LV8,mcnasty,13,5,"[{'attackerTag': '#UGRL8LV8', 'defenderTag': '...",2,#2JGVRGVRV,#UGRL8LV8,2,93,14,173
1,#8Q8UQL8Y,NMbaseball22,11,9,NaN,1,#GL2GC2PQ8,#8Q8UQL8Y,3,100,8,150
2,#8CRG2JR9,MeekMulli,12,6,"[{'attackerTag': '#8CRG2JR9', 'defenderTag': '...",1,#2JGVRGVRV,#8CRG2JR9,3,100,15,127
3,#G222UU009,Ben Dover,11,12,"[{'attackerTag': '#G222UU009', 'defenderTag': ...",1,#GY9CPCLC8,#G222UU009,3,100,19,144
4,#899PLPG,cordell,14,4,NaN,1,#Y9CJRGJYC,#899PLPG,3,100,5,122
5,#2RR2PVRG,Alwayz High,15,2,NaN,1,#9R8CYRJP9,#2RR2PVRG,3,100,3,145
6,#9PRCGP9Y,Luke,15,3,"[{'attackerTag': '#9PRCGP9Y', 'defenderTag': '...",1,#Y9CJRGJYC,#9PRCGP9Y,2,99,4,180
7,#9GGVU8C8,Shamrock 2.0,16,1,"[{'attackerTag': '#9GGVU8C8', 'defenderTag': '...",1,#9R8CYRJP9,#9GGVU8C8,2,73,22,147
8,#L99GG88LG,BigAedo,12,8,NaN,1,#9VC2P0CQR,#L99GG88LG,3,100,17,130
9,#GYQ09LYRR,winston,12,7,"[{'attackerTag': '#GYQ09LYRR', 'defenderTag': ...",1,#9VC2P0CQR,#GYQ09LYRR,3,100,16,91
10,#GPC0JCLPG,Tony,10,14,"[{'attackerTag': '#GPC0JCLPG', 'defenderTag': ...",1,#GY9CPCLC8,#GPC0JCLPG,3,100,18,124
11,#LPG2LYYGJ,Drippy,11,11,"[{'attackerTag': '#LPG2LYYGJ', 'defenderTag': ...",1,#P2JGVYRP,#LPG2LYYGJ,2,87,23,180
12,#GGV0JPQ2C,MewThree,10,15,"[{'attackerTag': '#GGV0JPQ2C', 'defenderTag': ...",1,#LJVUCC9RC,#GGV0JPQ2C,2,97,1,180
13,#GPRURPLRG,Wreckit Ralph,11,13,"[{'attackerTag': '#GPRURPLRG', 'defenderTag': ...",1,#GL2YCLVCC,#GPRURPLRG,3,100,27,139
14,#P22YPY90V,noich,11,10,NaN,1,#GL2GC2PQ8,#P22YPY90V,2,93,9,180

In [1439]:
members_df = json_normalize(response, record_path=['clan', 'members'], meta=[])
total_members_df = members_df.copy()

In [1440]:
attacks_df = json_normalize(
    members_df.to_dict(orient='records'),  # Convert DataFrame to dicts
    record_path='attacks',
    meta=['name'],
    meta_prefix='member_'
)
attacks_df

,attackerTag,defenderTag,stars,destructionPercentage,order,duration,member_name
0,#UGRL8LV8,#P2JGVYRP,3,100,28,75,mcnasty
1,#UGRL8LV8,#LCGR0Y2RC,3,100,30,96,mcnasty
2,#8CRG2JR9,#LCGR0Y2RC,1,83,10,141,MeekMulli
3,#G222UU009,#G8JQCRRCR,3,100,20,118,Ben Dover
4,#G222UU009,#GL2GC2PQ8,1,76,32,113,Ben Dover
5,#9PRCGP9Y,#82CY8YUUJ,3,100,31,112,Luke
6,#9PRCGP9Y,#9VC2P0CQR,3,100,33,110,Luke
7,#9GGVU8C8,#9R8CYRJP9,1,77,21,109,Shamrock 2.0
8,#9GGVU8C8,#Y9CJRGJYC,2,97,24,180,Shamrock 2.0
9,#GYQ09LYRR,#LV2990URP,3,100,12,124,winston
10,#GYQ09LYRR,#GL2GC2PQ8,1,88,13,87,winston
11,#GPC0JCLPG,#LJVUCC9RC,3,100,6,114,Tony
12,#GPC0JCLPG,#GLPJPGPQ2,2,65,7,89,Tony
13,#LPG2LYYGJ,#GL2YCLVCC,1,45,11,92,Drippy
14,#GGV0JPQ2C,#GL2YCLVCC,1,47,25,93,MewThree
15,#GPRURPLRG,#GY9CPCLC8,3,100,2,102,Wreckit Ralph
16,#GPRURPLRG,#GLPJPGPQ2,3,100,29,132,Wreckit Ralph

In [1441]:
attacks_df['attack_num'] = attacks_df.groupby('member_name').cumcount() + 1
attacks_df

,attackerTag,defenderTag,stars,destructionPercentage,order,duration,member_name,attack_num
0,#UGRL8LV8,#P2JGVYRP,3,100,28,75,mcnasty,1
1,#UGRL8LV8,#LCGR0Y2RC,3,100,30,96,mcnasty,2
2,#8CRG2JR9,#LCGR0Y2RC,1,83,10,141,MeekMulli,1
3,#G222UU009,#G8JQCRRCR,3,100,20,118,Ben Dover,1
4,#G222UU009,#GL2GC2PQ8,1,76,32,113,Ben Dover,2
5,#9PRCGP9Y,#82CY8YUUJ,3,100,31,112,Luke,1
6,#9PRCGP9Y,#9VC2P0CQR,3,100,33,110,Luke,2
7,#9GGVU8C8,#9R8CYRJP9,1,77,21,109,Shamrock 2.0,1
8,#9GGVU8C8,#Y9CJRGJYC,2,97,24,180,Shamrock 2.0,2
9,#GYQ09LYRR,#LV2990URP,3,100,12,124,winston,1
10,#GYQ09LYRR,#GL2GC2PQ8,1,88,13,87,winston,2
11,#GPC0JCLPG,#LJVUCC9RC,3,100,6,114,Tony,1
12,#GPC0JCLPG,#GLPJPGPQ2,2,65,7,89,Tony,2
13,#LPG2LYYGJ,#GL2YCLVCC,1,45,11,92,Drippy,1
14,#GGV0JPQ2C,#GL2YCLVCC,1,47,25,93,MewThree,1
15,#GPRURPLRG,#GY9CPCLC8,3,100,2,102,Wreckit Ralph,1
16,#GPRURPLRG,#GLPJPGPQ2,3,100,29,132,Wreckit Ralph,2

In [1442]:
attacks_df['total_attacks'] = attacks_df.groupby('member_name')['attack_num'].transform('max')
attacks_df

,attackerTag,defenderTag,stars,destructionPercentage,order,duration,member_name,attack_num,total_attacks
0,#UGRL8LV8,#P2JGVYRP,3,100,28,75,mcnasty,1,2
1,#UGRL8LV8,#LCGR0Y2RC,3,100,30,96,mcnasty,2,2
2,#8CRG2JR9,#LCGR0Y2RC,1,83,10,141,MeekMulli,1,1
3,#G222UU009,#G8JQCRRCR,3,100,20,118,Ben Dover,1,2
4,#G222UU009,#GL2GC2PQ8,1,76,32,113,Ben Dover,2,2
5,#9PRCGP9Y,#82CY8YUUJ,3,100,31,112,Luke,1,2
6,#9PRCGP9Y,#9VC2P0CQR,3,100,33,110,Luke,2,2
7,#9GGVU8C8,#9R8CYRJP9,1,77,21,109,Shamrock 2.0,1,2
8,#9GGVU8C8,#Y9CJRGJYC,2,97,24,180,Shamrock 2.0,2,2
9,#GYQ09LYRR,#LV2990URP,3,100,12,124,winston,1,2
10,#GYQ09LYRR,#GL2GC2PQ8,1,88,13,87,winston,2,2
11,#GPC0JCLPG,#LJVUCC9RC,3,100,6,114,Tony,1,2
12,#GPC0JCLPG,#GLPJPGPQ2,2,65,7,89,Tony,2,2
13,#LPG2LYYGJ,#GL2YCLVCC,1,45,11,92,Drippy,1,1
14,#GGV0JPQ2C,#GL2YCLVCC,1,47,25,93,MewThree,1,1
15,#GPRURPLRG,#GY9CPCLC8,3,100,2,102,Wreckit Ralph,1,2
16,#GPRURPLRG,#GLPJPGPQ2,3,100,29,132,Wreckit Ralph,2,2

In [1443]:
total_attacks_df = attacks_df[['member_name', 'total_attacks']].drop_duplicates().set_index('member_name')
total_attacks_df

               total_attacks
member_name
mcnasty                    2
MeekMulli                  1
Ben Dover                  2
Luke                       2
Shamrock 2.0               2
winston                    2
Tony                       2
Drippy                     1
MewThree                   1
Wreckit Ralph              2

In [1444]:
pivot_df = attacks_df.pivot_table(
    index=['member_name'], 
    columns='attack_num', 
    values=['attackerTag', 'defenderTag', 'stars', 'destructionPercentage', 'order', 'duration'], 
    aggfunc='first'
)
pivot_df

              attackerTag             defenderTag              \
attack_num              1           2           1           2
member_name
Ben Dover      #G222UU009  #G222UU009  #G8JQCRRCR  #GL2GC2PQ8
Drippy         #LPG2LYYGJ         NaN  #GL2YCLVCC         NaN
Luke            #9PRCGP9Y   #9PRCGP9Y  #82CY8YUUJ  #9VC2P0CQR
MeekMulli       #8CRG2JR9         NaN  #LCGR0Y2RC         NaN
MewThree       #GGV0JPQ2C         NaN  #GL2YCLVCC         NaN
Shamrock 2.0    #9GGVU8C8   #9GGVU8C8  #9R8CYRJP9  #Y9CJRGJYC
Tony           #GPC0JCLPG  #GPC0JCLPG  #LJVUCC9RC  #GLPJPGPQ2
Wreckit Ralph  #GPRURPLRG  #GPRURPLRG  #GY9CPCLC8  #GLPJPGPQ2
mcnasty         #UGRL8LV8   #UGRL8LV8   #P2JGVYRP  #LCGR0Y2RC
winston        #GYQ09LYRR  #GYQ09LYRR  #LV2990URP  #GL2GC2PQ8

              destructionPercentage        duration        order       stars  \
attack_num                        1      2        1      2     1     2     1
member_name
Ben Dover                    100.00  76.00   118.00 113.00 20.00 32.00  3.00
Drippy                        45.00    NaN    92.00    NaN 11.00   NaN  1.00
Luke                         100.00 100.00   112.00 110.00 31.00 33.00  3.00
MeekMulli                     83.00    NaN   141.00    NaN 10.00   NaN  1.00
MewThree                      47.00    NaN    93.00    NaN 25.00   NaN  1.00
Shamrock 2.0                  77.00  97.00   109.00 180.00 21.00 24.00  1.00
Tony                         100.00  65.00   114.00  89.00  6.00  7.00  3.00
Wreckit Ralph                100.00 100.00   102.00 132.00  2.00 29.00  3.00
mcnasty                      100.00 100.00    75.00  96.00 28.00 30.00  3.00
winston                      100.00  88.00   124.00  87.00 12.00 13.00  3.00


attack_num       2
member_name
Ben Dover     1.00
Drippy         NaN
Luke          3.00
MeekMulli      NaN
MewThree       NaN
Shamrock 2.0  2.00
Tony          2.00
Wreckit Ralph 3.00
mcnasty       3.00
winston       1.00

In [1445]:
pivot_df.columns = [f"{col[0]}_{col[1]}" for col in pivot_df.columns]

In [1446]:
def extract_text_and_number(column_name):
    match = re.match(r'(.+?)_(\d+)', column_name)
    return (int(match.group(2)), match.group(1)) if match else (float('inf'), column_name)

In [1447]:
sorted_columns = sorted(pivot_df.columns, key=lambda x: extract_text_and_number(x))
sorted_columns

['attackerTag_1',
 'defenderTag_1',
 'destructionPercentage_1',
 'duration_1',
 'order_1',
 'stars_1',
 'attackerTag_2',
 'defenderTag_2',
 'destructionPercentage_2',
 'duration_2',
 'order_2',
 'stars_2']

In [1448]:
pivot_df = pivot_df[sorted_columns]

In [1449]:
final_df = pivot_df.join(total_attacks_df)
final_df

,attackerTag_1,defenderTag_1,destructionPercentage_1,duration_1,order_1,stars_1,attackerTag_2,defenderTag_2,destructionPercentage_2,duration_2,order_2,stars_2,total_attacks
member_name,,,,,,,,,,,,,
Ben Dover,#G222UU009,#G8JQCRRCR,100.00,118.00,20.00,3.00,#G222UU009,#GL2GC2PQ8,76.00,113.00,32.00,1.00,2
Drippy,#LPG2LYYGJ,#GL2YCLVCC,45.00,92.00,11.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,1
Luke,#9PRCGP9Y,#82CY8YUUJ,100.00,112.00,31.00,3.00,#9PRCGP9Y,#9VC2P0CQR,100.00,110.00,33.00,3.00,2
MeekMulli,#8CRG2JR9,#LCGR0Y2RC,83.00,141.00,10.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,1
MewThree,#GGV0JPQ2C,#GL2YCLVCC,47.00,93.00,25.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,1
Shamrock 2.0,#9GGVU8C8,#9R8CYRJP9,77.00,109.00,21.00,1.00,#9GGVU8C8,#Y9CJRGJYC,97.00,180.00,24.00,2.00,2
Tony,#GPC0JCLPG,#LJVUCC9RC,100.00,114.00,6.00,3.00,#GPC0JCLPG,#GLPJPGPQ2,65.00,89.00,7.00,2.00,2
Wreckit Ralph,#GPRURPLRG,#GY9CPCLC8,100.00,102.00,2.00,3.00,#GPRURPLRG,#GLPJPGPQ2,100.00,132.00,29.00,3.00,2
mcnasty,#UGRL8LV8,#P2JGVYRP,100.00,75.00,28.00,3.00,#UGRL8LV8,#LCGR0Y2RC,100.00,96.00,30.00,3.00,2
winston,#GYQ09LYRR,#LV2990URP,100.00,124.00,12.00,3.00,#GYQ09LYRR,#GL2GC2PQ8,88.00,87.00,13.00,1.00,2

In [1450]:
new_name_df = final_df
new_name_df['Avg %'] = new_name_df[['destructionPercentage_1', 'destructionPercentage_2']].mean(axis=1)
new_name_df['Total Stars'] = new_name_df[["stars_1", "stars_2"]].sum(axis=1)

In [1451]:
new_order = ['total_attacks', 'Avg %', 'destructionPercentage_1', 'destructionPercentage_2', 
             'stars_1', 'stars_2', 'Total Stars']
new_name_df = new_name_df[new_order]
final_name_df = new_name_df.rename(columns={'destructionPercentage_1' : 'Attack 1 %', 'destructionPercentage_2' : 'Attack 2 %', 
                                            'stars_1' : 'Attack 1 Stars', 'stars_2' : 'Attack 2 Stars', 'total_attacks' : 'Total Attacks'})
final_name_df

,Total Attacks,Avg %,Attack 1 %,Attack 2 %,Attack 1 Stars,Attack 2 Stars,Total Stars
member_name,,,,,,,
Ben Dover,2,88.00,100.00,76.00,3.00,1.00,4.00
Drippy,1,45.00,45.00,NaN,1.00,NaN,1.00
Luke,2,100.00,100.00,100.00,3.00,3.00,6.00
MeekMulli,1,83.00,83.00,NaN,1.00,NaN,1.00
MewThree,1,47.00,47.00,NaN,1.00,NaN,1.00
Shamrock 2.0,2,87.00,77.00,97.00,1.00,2.00,3.00
Tony,2,82.50,100.00,65.00,3.00,2.00,5.00
Wreckit Ralph,2,100.00,100.00,100.00,3.00,3.00,6.00
mcnasty,2,100.00,100.00,100.00,3.00,3.00,6.00
winston,2,94.00,100.00,88.00,3.00,1.00,4.00

In [1452]:
try:
    total_members_df = total_members_df.set_index('name')
except KeyError:
    pass

In [1453]:
combined_df = final_name_df.reindex(total_members_df.index)
combined_df.fillna(0, inplace=True)
combined_df.sort_values(["Total Attacks", 'Total Stars', 'Avg %'], ascending=False, inplace=True)

In [1454]:
def colors(row):
    if row['Total Attacks'] == 2.0:
        color = "rgb(0,255,0)"
    elif row['Total Attacks'] == 1.0:
        color = "yellow"
    else:
        color = "red"
    return [f'color: {color}'] * len(row)

In [1455]:
styled_df = combined_df.style.apply(colors, axis=1).format('{:.1f}')
styled_df