In [16]:
import os
from dotenv import load_dotenv
import requests
import pandas as pd
import json
from pandas import json_normalize
import re

# load_dotenv

# token = os.getenv("API_TOKEN")

# headers = {
#     'Authorization': f'Bearer {token}',
#     'Content-Type': 'application.json'
# }
# response = requests.get('https://api.clashofclans.com/v1/clans/%232GLLPQYLL/currentwar', headers=headers)
# response = response.json()

In [17]:
with open('war1.json', "r") as json_data:
    response = json.load(json_data)

In [18]:
data = json_normalize(response, record_path=['opponent', 'members'])
data

,tag,name,townhallLevel,mapPosition,attacks,opponentAttacks,bestOpponentAttack.attackerTag,bestOpponentAttack.defenderTag,bestOpponentAttack.stars,bestOpponentAttack.destructionPercentage,bestOpponentAttack.order,bestOpponentAttack.duration
0,#GL2GC2PQ8,nacho,13,8,"[{'attackerTag': '#GL2GC2PQ8', 'defenderTag': ...",2,#GYQ09LYRR,#GL2GC2PQ8,1.0,88.0,13.0,87.0
1,#LJVUCC9RC,KIKI_Games,10,15,"[{'attackerTag': '#LJVUCC9RC', 'defenderTag': ...",1,#GPC0JCLPG,#LJVUCC9RC,3.0,100.0,6.0,114.0
2,#P2JGVYRP,vak,11,10,"[{'attackerTag': '#P2JGVYRP', 'defenderTag': '...",1,#UGRL8LV8,#P2JGVYRP,3.0,100.0,28.0,75.0
3,#2JGVRGVRV,Krloz Fire,15,5,"[{'attackerTag': '#2JGVRGVRV', 'defenderTag': ...",0,NaN,NaN,NaN,NaN,NaN,NaN
4,#GLPJPGPQ2,ivan,11,14,NaN,2,#GPRURPLRG,#GLPJPGPQ2,3.0,100.0,29.0,132.0
5,#9VC2P0CQR,TAYSON,13,6,"[{'attackerTag': '#9VC2P0CQR', 'defenderTag': ...",1,#9PRCGP9Y,#9VC2P0CQR,3.0,100.0,33.0,110.0
6,#GL2YCLVCC,la mafia,11,11,"[{'attackerTag': '#GL2YCLVCC', 'defenderTag': ...",2,#GGV0JPQ2C,#GL2YCLVCC,1.0,47.0,25.0,93.0
7,#82CY8YUUJ,the jma,15,4,"[{'attackerTag': '#82CY8YUUJ', 'defenderTag': ...",1,#9PRCGP9Y,#82CY8YUUJ,3.0,100.0,31.0,112.0
8,#GY9CPCLC8,saulo,11,13,"[{'attackerTag': '#GY9CPCLC8', 'defenderTag': ...",1,#GPRURPLRG,#GY9CPCLC8,3.0,100.0,2.0,102.0
9,#LUQQJCCQC,TELLO,15,3,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
10,#LV2990URP,Xx SANTYAGO xX,11,9,NaN,1,#GYQ09LYRR,#LV2990URP,3.0,100.0,12.0,124.0
11,#LCGR0Y2RC,josias,12,7,NaN,2,#UGRL8LV8,#LCGR0Y2RC,3.0,100.0,30.0,96.0
12,#Y9CJRGJYC,kenny carlos,16,2,"[{'attackerTag': '#Y9CJRGJYC', 'defenderTag': ...",1,#9GGVU8C8,#Y9CJRGJYC,2.0,97.0,24.0,180.0
13,#9R8CYRJP9,ismael,16,1,"[{'attackerTag': '#9R8CYRJP9', 'defenderTag': ...",1,#9GGVU8C8,#9R8CYRJP9,1.0,77.0,21.0,109.0
14,#G8JQCRRCR,R.H.L.M,11,12,NaN,1,#G222UU009,#G8JQCRRCR,3.0,100.0,20.0,118.0

In [19]:
members_df = json_normalize(response, record_path=['opponent', 'members'], meta=[])
total_members_df = members_df.copy()

In [20]:
attacks_df = json_normalize(
    members_df.to_dict(orient='records'),  # Convert DataFrame to dicts
    record_path='attacks',
    meta=['name'],
    meta_prefix='member_'
)
attacks_df

,attackerTag,defenderTag,stars,destructionPercentage,order,duration,member_name
0,#GL2GC2PQ8,#8Q8UQL8Y,3,100,8,150,nacho
1,#GL2GC2PQ8,#P22YPY90V,2,93,9,180,nacho
2,#LJVUCC9RC,#GGV0JPQ2C,2,97,1,180,KIKI_Games
3,#P2JGVYRP,#LPG2LYYGJ,2,87,23,180,vak
4,#2JGVRGVRV,#UGRL8LV8,2,93,14,173,Krloz Fire
5,#2JGVRGVRV,#8CRG2JR9,3,100,15,127,Krloz Fire
6,#9VC2P0CQR,#GYQ09LYRR,3,100,16,91,TAYSON
7,#9VC2P0CQR,#L99GG88LG,3,100,17,130,TAYSON
8,#GL2YCLVCC,#GPRURPLRG,3,100,27,139,la mafia
9,#82CY8YUUJ,#UGRL8LV8,2,83,26,117,the jma
10,#GY9CPCLC8,#GPC0JCLPG,3,100,18,124,saulo
11,#GY9CPCLC8,#G222UU009,3,100,19,144,saulo
12,#Y9CJRGJYC,#9PRCGP9Y,2,99,4,180,kenny carlos
13,#Y9CJRGJYC,#899PLPG,3,100,5,122,kenny carlos
14,#9R8CYRJP9,#2RR2PVRG,3,100,3,145,ismael
15,#9R8CYRJP9,#9GGVU8C8,2,73,22,147,ismael

In [21]:
attacks_df['attack_num'] = attacks_df.groupby('member_name').cumcount() + 1
attacks_df

,attackerTag,defenderTag,stars,destructionPercentage,order,duration,member_name,attack_num
0,#GL2GC2PQ8,#8Q8UQL8Y,3,100,8,150,nacho,1
1,#GL2GC2PQ8,#P22YPY90V,2,93,9,180,nacho,2
2,#LJVUCC9RC,#GGV0JPQ2C,2,97,1,180,KIKI_Games,1
3,#P2JGVYRP,#LPG2LYYGJ,2,87,23,180,vak,1
4,#2JGVRGVRV,#UGRL8LV8,2,93,14,173,Krloz Fire,1
5,#2JGVRGVRV,#8CRG2JR9,3,100,15,127,Krloz Fire,2
6,#9VC2P0CQR,#GYQ09LYRR,3,100,16,91,TAYSON,1
7,#9VC2P0CQR,#L99GG88LG,3,100,17,130,TAYSON,2
8,#GL2YCLVCC,#GPRURPLRG,3,100,27,139,la mafia,1
9,#82CY8YUUJ,#UGRL8LV8,2,83,26,117,the jma,1
10,#GY9CPCLC8,#GPC0JCLPG,3,100,18,124,saulo,1
11,#GY9CPCLC8,#G222UU009,3,100,19,144,saulo,2
12,#Y9CJRGJYC,#9PRCGP9Y,2,99,4,180,kenny carlos,1
13,#Y9CJRGJYC,#899PLPG,3,100,5,122,kenny carlos,2
14,#9R8CYRJP9,#2RR2PVRG,3,100,3,145,ismael,1
15,#9R8CYRJP9,#9GGVU8C8,2,73,22,147,ismael,2

In [22]:
attacks_df['total_attacks'] = attacks_df.groupby('member_name')['attack_num'].transform('max')
attacks_df

,attackerTag,defenderTag,stars,destructionPercentage,order,duration,member_name,attack_num,total_attacks
0,#GL2GC2PQ8,#8Q8UQL8Y,3,100,8,150,nacho,1,2
1,#GL2GC2PQ8,#P22YPY90V,2,93,9,180,nacho,2,2
2,#LJVUCC9RC,#GGV0JPQ2C,2,97,1,180,KIKI_Games,1,1
3,#P2JGVYRP,#LPG2LYYGJ,2,87,23,180,vak,1,1
4,#2JGVRGVRV,#UGRL8LV8,2,93,14,173,Krloz Fire,1,2
5,#2JGVRGVRV,#8CRG2JR9,3,100,15,127,Krloz Fire,2,2
6,#9VC2P0CQR,#GYQ09LYRR,3,100,16,91,TAYSON,1,2
7,#9VC2P0CQR,#L99GG88LG,3,100,17,130,TAYSON,2,2
8,#GL2YCLVCC,#GPRURPLRG,3,100,27,139,la mafia,1,1
9,#82CY8YUUJ,#UGRL8LV8,2,83,26,117,the jma,1,1
10,#GY9CPCLC8,#GPC0JCLPG,3,100,18,124,saulo,1,2
11,#GY9CPCLC8,#G222UU009,3,100,19,144,saulo,2,2
12,#Y9CJRGJYC,#9PRCGP9Y,2,99,4,180,kenny carlos,1,2
13,#Y9CJRGJYC,#899PLPG,3,100,5,122,kenny carlos,2,2
14,#9R8CYRJP9,#2RR2PVRG,3,100,3,145,ismael,1,2
15,#9R8CYRJP9,#9GGVU8C8,2,73,22,147,ismael,2,2

In [23]:
total_attacks_df = attacks_df[['member_name', 'total_attacks']].drop_duplicates().set_index('member_name')
total_attacks_df

              total_attacks
member_name
nacho                     2
KIKI_Games                1
vak                       1
Krloz Fire                2
TAYSON                    2
la mafia                  1
the jma                   1
saulo                     2
kenny carlos              2
ismael                    2

In [24]:
pivot_df = attacks_df.pivot_table(
    index=['member_name'], 
    columns='attack_num', 
    values=['attackerTag', 'defenderTag', 'stars', 'destructionPercentage', 'order', 'duration'], 
    aggfunc='first'
)
pivot_df

             attackerTag             defenderTag              \
attack_num             1           2           1           2
member_name
KIKI_Games    #LJVUCC9RC         NaN  #GGV0JPQ2C         NaN
Krloz Fire    #2JGVRGVRV  #2JGVRGVRV   #UGRL8LV8   #8CRG2JR9
TAYSON        #9VC2P0CQR  #9VC2P0CQR  #GYQ09LYRR  #L99GG88LG
ismael        #9R8CYRJP9  #9R8CYRJP9   #2RR2PVRG   #9GGVU8C8
kenny carlos  #Y9CJRGJYC  #Y9CJRGJYC   #9PRCGP9Y    #899PLPG
la mafia      #GL2YCLVCC         NaN  #GPRURPLRG         NaN
nacho         #GL2GC2PQ8  #GL2GC2PQ8   #8Q8UQL8Y  #P22YPY90V
saulo         #GY9CPCLC8  #GY9CPCLC8  #GPC0JCLPG  #G222UU009
the jma       #82CY8YUUJ         NaN   #UGRL8LV8         NaN
vak            #P2JGVYRP         NaN  #LPG2LYYGJ         NaN

             destructionPercentage        duration        order       stars  \
attack_num                       1      2        1      2     1     2     1
member_name
KIKI_Games                    97.0    NaN    180.0    NaN   1.0   NaN   2.0
Krloz Fire                    93.0  100.0    173.0  127.0  14.0  15.0   2.0
TAYSON                       100.0  100.0     91.0  130.0  16.0  17.0   3.0
ismael                       100.0   73.0    145.0  147.0   3.0  22.0   3.0
kenny carlos                  99.0  100.0    180.0  122.0   4.0   5.0   2.0
la mafia                     100.0    NaN    139.0    NaN  27.0   NaN   3.0
nacho                        100.0   93.0    150.0  180.0   8.0   9.0   3.0
saulo                        100.0  100.0    124.0  144.0  18.0  19.0   3.0
the jma                       83.0    NaN    117.0    NaN  26.0   NaN   2.0
vak                           87.0    NaN    180.0    NaN  23.0   NaN   2.0


attack_num      2
member_name
KIKI_Games    NaN
Krloz Fire    3.0
TAYSON        3.0
ismael        2.0
kenny carlos  3.0
la mafia      NaN
nacho         2.0
saulo         3.0
the jma       NaN
vak           NaN

In [25]:
pivot_df.columns = [f"{col[0]}_{col[1]}" for col in pivot_df.columns]

In [26]:
def extract_text_and_number(column_name):
    match = re.match(r'(.+?)_(\d+)', column_name)
    return (int(match.group(2)), match.group(1)) if match else (float('inf'), column_name)

In [27]:
sorted_columns = sorted(pivot_df.columns, key=lambda x: extract_text_and_number(x))
sorted_columns

['attackerTag_1',
 'defenderTag_1',
 'destructionPercentage_1',
 'duration_1',
 'order_1',
 'stars_1',
 'attackerTag_2',
 'defenderTag_2',
 'destructionPercentage_2',
 'duration_2',
 'order_2',
 'stars_2']

In [28]:
pivot_df = pivot_df[sorted_columns]

In [29]:
final_df = pivot_df.join(total_attacks_df)
final_df

,attackerTag_1,defenderTag_1,destructionPercentage_1,duration_1,order_1,stars_1,attackerTag_2,defenderTag_2,destructionPercentage_2,duration_2,order_2,stars_2,total_attacks
member_name,,,,,,,,,,,,,
KIKI_Games,#LJVUCC9RC,#GGV0JPQ2C,97.0,180.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1
Krloz Fire,#2JGVRGVRV,#UGRL8LV8,93.0,173.0,14.0,2.0,#2JGVRGVRV,#8CRG2JR9,100.0,127.0,15.0,3.0,2
TAYSON,#9VC2P0CQR,#GYQ09LYRR,100.0,91.0,16.0,3.0,#9VC2P0CQR,#L99GG88LG,100.0,130.0,17.0,3.0,2
ismael,#9R8CYRJP9,#2RR2PVRG,100.0,145.0,3.0,3.0,#9R8CYRJP9,#9GGVU8C8,73.0,147.0,22.0,2.0,2
kenny carlos,#Y9CJRGJYC,#9PRCGP9Y,99.0,180.0,4.0,2.0,#Y9CJRGJYC,#899PLPG,100.0,122.0,5.0,3.0,2
la mafia,#GL2YCLVCC,#GPRURPLRG,100.0,139.0,27.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,1
nacho,#GL2GC2PQ8,#8Q8UQL8Y,100.0,150.0,8.0,3.0,#GL2GC2PQ8,#P22YPY90V,93.0,180.0,9.0,2.0,2
saulo,#GY9CPCLC8,#GPC0JCLPG,100.0,124.0,18.0,3.0,#GY9CPCLC8,#G222UU009,100.0,144.0,19.0,3.0,2
the jma,#82CY8YUUJ,#UGRL8LV8,83.0,117.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1
vak,#P2JGVYRP,#LPG2LYYGJ,87.0,180.0,23.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1

In [30]:
new_name_df = final_df
new_name_df['Avg %'] = new_name_df[['destructionPercentage_1', 'destructionPercentage_2']].mean(axis=1)
new_name_df['Total Stars'] = new_name_df[["stars_1", "stars_2"]].sum(axis=1)

In [31]:
new_order = ['total_attacks', 'Avg %', 'destructionPercentage_1', 'destructionPercentage_2', 
             'stars_1', 'stars_2', 'Total Stars']
new_name_df = new_name_df[new_order]
final_name_df = new_name_df.rename(columns={'destructionPercentage_1' : 'Attack 1 %', 'destructionPercentage_2' : 'Attack 2 %', 
                                            'stars_1' : 'Attack 1 Stars', 'stars_2' : 'Attack 2 Stars', 'total_attacks' : 'Total Attacks'})
final_name_df

,Total Attacks,Avg %,Attack 1 %,Attack 2 %,Attack 1 Stars,Attack 2 Stars,Total Stars
member_name,,,,,,,
KIKI_Games,1,97.0,97.0,NaN,2.0,NaN,2.0
Krloz Fire,2,96.5,93.0,100.0,2.0,3.0,5.0
TAYSON,2,100.0,100.0,100.0,3.0,3.0,6.0
ismael,2,86.5,100.0,73.0,3.0,2.0,5.0
kenny carlos,2,99.5,99.0,100.0,2.0,3.0,5.0
la mafia,1,100.0,100.0,NaN,3.0,NaN,3.0
nacho,2,96.5,100.0,93.0,3.0,2.0,5.0
saulo,2,100.0,100.0,100.0,3.0,3.0,6.0
the jma,1,83.0,83.0,NaN,2.0,NaN,2.0
vak,1,87.0,87.0,NaN,2.0,NaN,2.0

In [32]:
try:
    total_members_df = total_members_df.set_index('name')
except KeyError:
    pass

In [33]:
combined_df = final_name_df.reindex(total_members_df.index)
combined_df.fillna(0, inplace=True)
combined_df.sort_values(["Total Attacks", 'Total Stars', 'Avg %'], ascending=False, inplace=True)

In [34]:
def colors(row):
    if row['Total Attacks'] == 2.0:
        color = "rgb(0,255,0)"
    elif row['Total Attacks'] == 1.0:
        color = "yellow"
    else:
        color = "red"
    return [f'color: {color}'] * len(row)

In [35]:
styled_df = combined_df.style.apply(colors, axis=1).format('{:.1f}')
styled_df