In [12]:
import os
from dotenv import load_dotenv
import requests
import pandas as pd
import json
from pandas import json_normalize
import re
from datetime import datetime
import logging


log_file_path = '/home/lukethan/projects/clash_project/data_to_file.log'

logging.basicConfig(filename=log_file_path, level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

load_dotenv('/home/lukethan/projects/clash_project/.env')

token = os.getenv("API_TOKEN")
if token is None:
    logging.error('API_TOKEN not found')

headers = {
    'Authorization': f'Bearer {token}',
    'Content-Type': 'application/json'
}
"""
                "#8PRUCLVGU",
                "#8PRUCLC0P",
                "#8PRUCLRJ0",
                "#8PRUCLUPG"
"""
# response = requests.get('https://api.clashofclans.com/v1/clans/%232GLLPQYLL/currentwar/leaguegroup', headers=headers)
response = requests.get('https://api.clashofclans.com/v1/clanwarleagues/wars/%238PRUCLVGU', headers=headers)


logging.info(f"API response status code: {response.status_code}")
response = response.json()
# response
with open('cwlday2.json', 'a') as json_file:
    json.dump(response, json_file, indent=4)

In [13]:
dt = datetime.now()
# if response['state'] == 'inWar':
#     with open(f'war{dt.month}.{dt.day}.{dt.year}time{dt.hour}.{dt.minute}.json', "a") as json_file:
#         json.dump(response, json_file, indent=4)
# elif response['state'] == 'warEnded':
#     with open(f'war{dt.month}.{dt.day}.{dt.year}ended.json', "a") as json_file:
#         json.dump(response, json_file, indent=4)


progress_directory = '/home/lukethan/projects/clash_project/in_progress'
finished_directory = '/home/lukethan/projects/clash_project/finished'

# Create the absolute file path
file_path_p = os.path.join(progress_directory, f'war{dt.month}.{dt.day}.{dt.year}time{dt.hour}.{dt.minute}.json')

if response["state"] == 'inWar':
    with open(file_path_p, "a") as json_file:
        json.dump(response, json_file, indent=4)
        logging.info(f'Response recorded for inWar at {dt}')
elif response["state"] == 'warEnded':
    end_time = response['endTime'][0:8]
    file_name = f'war{end_time}.json'
    file_path = os.path.join(finished_directory, file_name)
    if os.path.exists(file_path):
        logging.info(f'{file_path} already exists')
    else:
        with open(file_path, "a") as json_file:
            json.dump(response, json_file, indent=4)
        logging.info(f"{file_path} created and response recorded at {dt}")

In [14]:
data = json_normalize(response, record_path=['clan', 'members'])
data

,tag,name,townhallLevel,mapPosition,attacks,opponentAttacks,bestOpponentAttack.attackerTag,bestOpponentAttack.defenderTag,bestOpponentAttack.stars,bestOpponentAttack.destructionPercentage,bestOpponentAttack.order,bestOpponentAttack.duration
0,#LRJRYULCL,[N]•Giyatsa^•^,9,11,"[{'attackerTag': '#LRJRYULCL', 'defenderTag': ...",1,#LPG2LYYGJ,#LRJRYULCL,3.0,100.0,9.0,92.0
1,#8QPGQQYPQ,McQueen95,9,13,"[{'attackerTag': '#8QPGQQYPQ', 'defenderTag': ...",1,#8CU8J8Y0Q,#8QPGQQYPQ,3.0,100.0,14.0,96.0
2,#L0YRRQPPU,кiм•Luкмaи,11,8,"[{'attackerTag': '#L0YRRQPPU', 'defenderTag': ...",1,#G222UU009,#L0YRRQPPU,3.0,100.0,4.0,146.0
3,#QJPQQLCVC,SangPenghancur!,11,6,"[{'attackerTag': '#QJPQQLCVC', 'defenderTag': ...",0,NaN,NaN,NaN,NaN,NaN,NaN
4,#Y2020U2YL,кiм-Luкмan,11,4,"[{'attackerTag': '#Y2020U2YL', 'defenderTag': ...",1,#8CRG2JR9,#Y2020U2YL,3.0,100.0,10.0,132.0
5,#GY2LVQ2GC,abimanyu,9,16,NaN,1,#GPC0JCLPG,#GY2LVQ2GC,3.0,100.0,3.0,51.0
6,#LVQ0RG809,[N]•Giyatsi^•^,9,10,"[{'attackerTag': '#LVQ0RG809', 'defenderTag': ...",0,NaN,NaN,NaN,NaN,NaN,NaN
7,#L2LLGC2VV,кiм°Luкмaи,11,7,"[{'attackerTag': '#L2LLGC2VV', 'defenderTag': ...",1,#8Q8UQL8Y,#L2LLGC2VV,3.0,100.0,25.0,116.0
8,#YPPJQJ9RJ,[K1NG]™,14,2,"[{'attackerTag': '#YPPJQJ9RJ', 'defenderTag': ...",1,#9PRCGP9Y,#YPPJQJ9RJ,3.0,100.0,12.0,81.0
9,#QPQY2QCJP,Alif Krt Bor,9,14,NaN,1,#GPRURPLRG,#QPQY2QCJP,3.0,100.0,1.0,87.0
10,#Q0Q0PV22V,YogiJuliantama,9,9,"[{'attackerTag': '#Q0Q0PV22V', 'defenderTag': ...",1,#YGR9PYUGP,#Q0Q0PV22V,3.0,100.0,22.0,76.0
11,#L8UJLLGU2,кiм~Luкмaи,13,1,"[{'attackerTag': '#L8UJLLGU2', 'defenderTag': ...",1,#9GGVU8C8,#L8UJLLGU2,3.0,100.0,15.0,109.0
12,#P0GJRU2CQ,boy,12,3,NaN,1,#UGRL8LV8,#P0GJRU2CQ,3.0,100.0,11.0,95.0
13,#9V0RRPULP,Kim•Lukman²³,11,5,"[{'attackerTag': '#9V0RRPULP', 'defenderTag': ...",1,#GYQ09LYRR,#9V0RRPULP,1.0,89.0,24.0,118.0
14,#G0L2CYVVC,hamba allah,9,15,"[{'attackerTag': '#G0L2CYVVC', 'defenderTag': ...",1,#GGV0JPQ2C,#G0L2CYVVC,3.0,100.0,13.0,108.0

In [15]:
members_df = json_normalize(response, record_path=['clan', 'members'], meta=[])
total_members_df = members_df.copy()

In [16]:
attacks_df = json_normalize(
    members_df.to_dict(orient='records'),  # Convert DataFrame to dicts
    record_path='attacks',
    meta=['name'],
    meta_prefix='member_'
)
attacks_df

,attackerTag,defenderTag,stars,destructionPercentage,order,duration,member_name
0,#LRJRYULCL,#GPC0JCLPG,2,59,20,67,[N]•Giyatsa^•^
1,#8QPGQQYPQ,#GPC0JCLPG,1,44,21,83,McQueen95
2,#L0YRRQPPU,#GPRURPLRG,3,100,17,143,кiм•Luкмaи
3,#QJPQQLCVC,#GGV0JPQ2C,3,100,18,97,SangPenghancur!
4,#Y2020U2YL,#LPG2LYYGJ,3,100,8,135,кiм-Luкмan
5,#LVQ0RG809,#GYQ09LYRR,1,39,19,71,[N]•Giyatsi^•^
6,#L2LLGC2VV,#8CU8J8Y0Q,3,100,16,100,кiм°Luкмaи
7,#YPPJQJ9RJ,#YGR9PYUGP,3,100,6,92,[K1NG]™
8,#Q0Q0PV22V,#GPC0JCLPG,1,50,2,110,YogiJuliantama
9,#L8UJLLGU2,#G222UU009,3,100,5,114,кiм~Luкмaи
10,#9V0RRPULP,#P22YPY90V,3,100,7,124,Kim•Lukman²³
11,#G0L2CYVVC,#9GGVU8C8,0,24,23,52,hamba allah

In [17]:
attacks_df['attack_num'] = attacks_df.groupby('member_name').cumcount() + 1
attacks_df

,attackerTag,defenderTag,stars,destructionPercentage,order,duration,member_name,attack_num
0,#LRJRYULCL,#GPC0JCLPG,2,59,20,67,[N]•Giyatsa^•^,1
1,#8QPGQQYPQ,#GPC0JCLPG,1,44,21,83,McQueen95,1
2,#L0YRRQPPU,#GPRURPLRG,3,100,17,143,кiм•Luкмaи,1
3,#QJPQQLCVC,#GGV0JPQ2C,3,100,18,97,SangPenghancur!,1
4,#Y2020U2YL,#LPG2LYYGJ,3,100,8,135,кiм-Luкмan,1
5,#LVQ0RG809,#GYQ09LYRR,1,39,19,71,[N]•Giyatsi^•^,1
6,#L2LLGC2VV,#8CU8J8Y0Q,3,100,16,100,кiм°Luкмaи,1
7,#YPPJQJ9RJ,#YGR9PYUGP,3,100,6,92,[K1NG]™,1
8,#Q0Q0PV22V,#GPC0JCLPG,1,50,2,110,YogiJuliantama,1
9,#L8UJLLGU2,#G222UU009,3,100,5,114,кiм~Luкмaи,1
10,#9V0RRPULP,#P22YPY90V,3,100,7,124,Kim•Lukman²³,1
11,#G0L2CYVVC,#9GGVU8C8,0,24,23,52,hamba allah,1

In [18]:
attacks_df['total_attacks'] = attacks_df.groupby('member_name')['attack_num'].transform('max')
attacks_df

,attackerTag,defenderTag,stars,destructionPercentage,order,duration,member_name,attack_num,total_attacks
0,#LRJRYULCL,#GPC0JCLPG,2,59,20,67,[N]•Giyatsa^•^,1,1
1,#8QPGQQYPQ,#GPC0JCLPG,1,44,21,83,McQueen95,1,1
2,#L0YRRQPPU,#GPRURPLRG,3,100,17,143,кiм•Luкмaи,1,1
3,#QJPQQLCVC,#GGV0JPQ2C,3,100,18,97,SangPenghancur!,1,1
4,#Y2020U2YL,#LPG2LYYGJ,3,100,8,135,кiм-Luкмan,1,1
5,#LVQ0RG809,#GYQ09LYRR,1,39,19,71,[N]•Giyatsi^•^,1,1
6,#L2LLGC2VV,#8CU8J8Y0Q,3,100,16,100,кiм°Luкмaи,1,1
7,#YPPJQJ9RJ,#YGR9PYUGP,3,100,6,92,[K1NG]™,1,1
8,#Q0Q0PV22V,#GPC0JCLPG,1,50,2,110,YogiJuliantama,1,1
9,#L8UJLLGU2,#G222UU009,3,100,5,114,кiм~Luкмaи,1,1
10,#9V0RRPULP,#P22YPY90V,3,100,7,124,Kim•Lukman²³,1,1
11,#G0L2CYVVC,#9GGVU8C8,0,24,23,52,hamba allah,1,1

In [19]:
total_attacks_df = attacks_df[['member_name', 'total_attacks']].drop_duplicates().set_index('member_name')
total_attacks_df

                 total_attacks
member_name
[N]•Giyatsa^•^               1
McQueen95                    1
кiм•Luкмaи                   1
SangPenghancur!              1
кiм-Luкмan                   1
[N]•Giyatsi^•^               1
кiм°Luкмaи                   1
[K1NG]™                      1
YogiJuliantama               1
кiм~Luкмaи                   1
Kim•Lukman²³                 1
hamba allah                  1

In [20]:
pivot_df = attacks_df.pivot_table(
    index=['member_name'], 
    columns='attack_num', 
    values=['attackerTag', 'defenderTag', 'stars', 'destructionPercentage', 'order', 'duration'], 
    aggfunc='first'
)
pivot_df

,attackerTag,defenderTag,destructionPercentage,duration,order,stars
attack_num,1,1,1,1,1,1
member_name,,,,,,
Kim•Lukman²³,#9V0RRPULP,#P22YPY90V,100,124,7,3
McQueen95,#8QPGQQYPQ,#GPC0JCLPG,44,83,21,1
SangPenghancur!,#QJPQQLCVC,#GGV0JPQ2C,100,97,18,3
YogiJuliantama,#Q0Q0PV22V,#GPC0JCLPG,50,110,2,1
[K1NG]™,#YPPJQJ9RJ,#YGR9PYUGP,100,92,6,3
[N]•Giyatsa^•^,#LRJRYULCL,#GPC0JCLPG,59,67,20,2
[N]•Giyatsi^•^,#LVQ0RG809,#GYQ09LYRR,39,71,19,1
hamba allah,#G0L2CYVVC,#9GGVU8C8,24,52,23,0
кiм-Luкмan,#Y2020U2YL,#LPG2LYYGJ,100,135,8,3
кiм~Luкмaи,#L8UJLLGU2,#G222UU009,100,114,5,3
кiм°Luкмaи,#L2LLGC2VV,#8CU8J8Y0Q,100,100,16,3
кiм•Luкмaи,#L0YRRQPPU,#GPRURPLRG,100,143,17,3

In [21]:
pivot_df.columns = [f"{col[0]}_{col[1]}" for col in pivot_df.columns]

In [22]:
def extract_text_and_number(column_name):
    match = re.match(r'(.+?)_(\d+)', column_name)
    return (int(match.group(2)), match.group(1)) if match else (float('inf'), column_name)

In [23]:
sorted_columns = sorted(pivot_df.columns, key=lambda x: extract_text_and_number(x))
sorted_columns

['attackerTag_1',
 'defenderTag_1',
 'destructionPercentage_1',
 'duration_1',
 'order_1',
 'stars_1']

In [24]:
pivot_df = pivot_df[sorted_columns]

In [25]:
final_df = pivot_df.join(total_attacks_df)
final_df

,attackerTag_1,defenderTag_1,destructionPercentage_1,duration_1,order_1,stars_1,total_attacks
member_name,,,,,,,
Kim•Lukman²³,#9V0RRPULP,#P22YPY90V,100,124,7,3,1
McQueen95,#8QPGQQYPQ,#GPC0JCLPG,44,83,21,1,1
SangPenghancur!,#QJPQQLCVC,#GGV0JPQ2C,100,97,18,3,1
YogiJuliantama,#Q0Q0PV22V,#GPC0JCLPG,50,110,2,1,1
[K1NG]™,#YPPJQJ9RJ,#YGR9PYUGP,100,92,6,3,1
[N]•Giyatsa^•^,#LRJRYULCL,#GPC0JCLPG,59,67,20,2,1
[N]•Giyatsi^•^,#LVQ0RG809,#GYQ09LYRR,39,71,19,1,1
hamba allah,#G0L2CYVVC,#9GGVU8C8,24,52,23,0,1
кiм-Luкмan,#Y2020U2YL,#LPG2LYYGJ,100,135,8,3,1
кiм~Luкмaи,#L8UJLLGU2,#G222UU009,100,114,5,3,1
кiм°Luкмaи,#L2LLGC2VV,#8CU8J8Y0Q,100,100,16,3,1
кiм•Luкмaи,#L0YRRQPPU,#GPRURPLRG,100,143,17,3,1

In [26]:
new_name_df = final_df
new_name_df['Avg %'] = new_name_df[['destructionPercentage_1', 'destructionPercentage_2']].mean(axis=1)
new_name_df['Total Stars'] = new_name_df[["stars_1", "stars_2"]].sum(axis=1)

KeyError: "['destructionPercentage_2'] not in index"

In [45]:
new_order = ['total_attacks', 'Avg %', 'destructionPercentage_1', 'destructionPercentage_2', 
             'stars_1', 'stars_2', 'Total Stars']
new_name_df = new_name_df[new_order]
final_name_df = new_name_df.rename(columns={'destructionPercentage_1' : 'Attack 1 %', 'destructionPercentage_2' : 'Attack 2 %', 
                                            'stars_1' : 'Attack 1 Stars', 'stars_2' : 'Attack 2 Stars', 'total_attacks' : 'Total Attacks'})
final_name_df

,Total Attacks,Avg %,Attack 1 %,Attack 2 %,Attack 1 Stars,Attack 2 Stars,Total Stars
member_name,,,,,,,
Drippy,1,100.0,100.0,NaN,3.0,NaN,3.0
Luke,2,100.0,100.0,100.0,3.0,3.0,6.0
MeekMulli,1,91.0,91.0,NaN,1.0,NaN,1.0
Shamrock 2.0,1,97.0,97.0,NaN,2.0,NaN,2.0
Wreckit Ralph,1,100.0,100.0,NaN,3.0,NaN,3.0
winston,2,84.5,94.0,75.0,2.0,1.0,3.0

In [46]:
try:
    total_members_df = total_members_df.set_index('name')
except KeyError:
    pass

In [47]:
final_name_df["Total Clan Stars"] = final_name_df['Total Stars'].sum()
final_name_df

,Total Attacks,Avg %,Attack 1 %,Attack 2 %,Attack 1 Stars,Attack 2 Stars,Total Stars,Total Clan Stars
member_name,,,,,,,,
Drippy,1,100.0,100.0,NaN,3.0,NaN,3.0,18.0
Luke,2,100.0,100.0,100.0,3.0,3.0,6.0,18.0
MeekMulli,1,91.0,91.0,NaN,1.0,NaN,1.0,18.0
Shamrock 2.0,1,97.0,97.0,NaN,2.0,NaN,2.0,18.0
Wreckit Ralph,1,100.0,100.0,NaN,3.0,NaN,3.0,18.0
winston,2,84.5,94.0,75.0,2.0,1.0,3.0,18.0

In [48]:
combined_df = final_name_df.reindex(total_members_df.index)
combined_df.fillna(0, inplace=True)
combined_df.sort_values(["Total Attacks", 'Total Stars', 'Avg %'], ascending=False, inplace=True)

In [49]:
def colors(row):
    if row['Total Attacks'] == 2.0:
        color = "rgb(0,255,0)"
    elif row['Total Attacks'] == 1.0:
        color = "yellow"
    else:
        color = "red"
    return [f'color: {color}'] * len(row)

In [50]:
styled_df = combined_df.style.apply(colors, axis=1).format('{:.1f}')
styled_df